#draggable {
  width: 124px;
  height: 124px;
  border-color: transparent;
  background-color: transparent;
  display: none;
}

#mapContainer {
  
}

.svg {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#functionBar {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: small;
}
