<footer class="w3-container w3-padding-32 w3-center w3-light-grey">
  <div class="w3-row">

   <div class="w3-container w3-quarter">
     <p>
       <span>Telefon: 031 767 72 21</span><br/>
       <span>Fax: 031 767 85 53</span>
     </p>
   </div>

   <div class="w3-container w3-quarter">
     <p>
       <span>P.Vögeli AG</span><br/>
       <span>Moosgasse 10</span><br/>
       <span>3317 Limpach</span>
     </p>
   </div>

   <div class="w3-container w3-quarter">
     <p>
       <span>
         <a ng-href="{{mailLink}}">Email senden</a>
       </span>
     </p>
  </div>

  <div class="w3-container w3-quarter">
    <p>
      <a href="#">Impressum</a>
    </p>
  </div>

</div>
</footer>
