<div ng-controller="MapCtrl" id="mapContainer">

  <div id="functionBar">
    <button id="colorAllButton" ng-click="colorAll()">Color all</button>
    <button ng-click="clearAll()">Clear all</button>
    <button ng-click="download()">Download</button>
    <button ng-click="createLegend()">Create legend</button>
  </div>

  <img id="map" class="svg" src="img/cantons_swiss_default.svg"/>

  <div id="draggable" class="ui-widget-content">
  	<canvas width="124" height="124" id="canvas_picker"></canvas>
  </div>

  <div id="footer" align="right">
    <span>Version: 1.1, 24.4.2020, © <a href="https://www.instagram.com/kuerae/" target="_blank">Kürä</a></span>
    <span style="display: block;">Click <a target="_blank" href="https://gitlab.com/martinmoserswiss/colored-map">here</a> to join the project.</span>
  </div>

</div>
