<div class="w3-top">

  <div class="w3-row">
   <div class="w3-hide-small w3-white w3-container w3-right-align">
     <img class="w3-padding-right" style="padding-top: 32px;" src="img/logo.jpg"/>
   </div>
   <div class="w3-hide-medium w3-hide-large w3-white w3-container w3-left-align">
     <img class="w3-padding-right" src="img/logo.jpg"/>
   </div>
  </div>

  <ul class="w3-hide-medium w3-navbar w3-white w3-card-1 w3-left-align w3-padding-left w3-xlarge">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="#/" class="w3-hover-none w3-hover-text-grey w3-padding-large">HOME</a></li>
    <li class="w3-hide-small w3-dropdown-hover">
      <a href="#ueberuns" class="w3-hover-none w3-padding-large" title="More">ÜBER UNS<i style="margin-left: 10px;" class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="#team">TEAM</a>
        <a href="#geschichte">GESCHICHTE</a>
      </div>
    </li>
    <li class="w3-hide-small w3-dropdown-hover">
      <a href="#arbeiten" class="w3-hover-none w3-padding-large" title="More">ARBEITEN<i style="margin-left: 10px;" class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="#hochbau">HOCHBAU</a>
        <a href="#tiefbau">TIEFBAU</a>
        <a href="#umbau">UMBAU</a>
        <a href="#gewerbe-industrie-bauten">GEWERBE- UND INDUSTRIEBAUTEN</a>
      </div>
    </li>
    <li class="w3-hide-small"><a href="#aktuell" class=" w3-padding-large">AKTUELL</a></li>
    <li class="w3-hide-small"><a href="#kontakt" class=" w3-padding-large">KONTAKT</a></li>
  </ul>

  <ul class="w3-hide-large w3-navbar w3-white w3-card-1 w3-left-align w3-padding-left">
    <li><a href="#/" class="w3-hide-small w3-hover-none w3-hover-text-grey w3-padding-medium">HOME</a></li>
    <li class="w3-hide-small w3-dropdown-hover">
      <a href="#ueberuns" class="w3-hover-none w3-padding-medium" title="More">ÜBER UNS<i style="margin-left: 10px;" class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="#team">TEAM</a>
        <a href="#geschichte">GESCHICHTE</a>
      </div>
    </li>
    <li class="w3-hide-small w3-dropdown-hover">
      <a href="#arbeiten" class="w3-hover-none w3-padding-medium" title="More">ARBEITEN<i style="margin-left: 10px;" class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="#hochbau">HOCHBAU</a>
        <a href="#tiefbau">TIEFBAU</a>
        <a href="#umbau">UMBAU</a>
        <a href="#gewerbe-industrie-bauten">GEWERBE- UND INDUSTRIEBAUTEN</a>
      </div>
    </li>
    <li class="w3-hide-small"><a href="#aktuell" class="w3-padding-medium">AKTUELL</a></li>
    <li class="w3-hide-small"><a href="#kontakt" class="w3-padding-medium">KONTAKT</a></li>
  </ul>

</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <ul class="w3-navbar w3-left-align w3-black">
    <li><a class="w3-padding-large" href="#ueberuns">ÜBER UNS</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#team">TEAM</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#geschichte">GESCHICHTE</a></li>
    <li><a class="w3-padding-large" href="#arbeiten">ARBEITEN</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#hochbau">HOCHBAU</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#tiefbau">TIEFBAU</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#umbau">UMBAU</a></li>
    <li><a class="w3-padding-large" style="margin-left:30px;" href="#gewerbe-industrie-bauten">GEWERBE- UND INDUSTRIEBAUTEN</a></li>
    <li><a class="w3-padding-large" href="#aktuell">AKTUELL</a></li>
    <li><a class="w3-padding-large" href="#kontakt">KONTAKT</a></li>
  </ul>
</div>
